.contact-header {
    background-image: url(../assets/contact-header.jpg);
    position: relative;
    height: 60vh;
}
 h2 {
    
        margin-top: 1em;
        margin-left: 6.5em;
     }

.contact-us{
    display: flex;
    flex-direction: row;
    .info {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         padding-bottom: 10em;
    }
    h4 {
        color: white;
        margin: 1em 0;
    }
    p {
        margin: 0 ;
    }
    i {
        font-size: 1.4em;
        margin-right: .5em;
    }
}
.contactForm { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: $green;
    bottom: 11em;
    right: -15em;
    margin: 0 2em;
    .positioning{
    top: -250px;
    right: -240px;
    }
    .email-name {
     display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1em;
    justify-content: space-between;
    margin: 0 auto;
        }
   
  #name, #email {
      width: 100%;
     border: none;
       line-height: 3em;
       border-bottom: 3px solid $blue;
        margin: 3em auto;
    }
    .submit {
        width: 90%;
        background-color: $darkblue;
        color: white;
    }

 input,
textarea {
  border: none;
  margin-bottom: 1em;
  background-color: $green;
  color: white;
  font-family: lato;
  border: 3px solid $blue;
  &::placeholder {
    font-size: 0.8rem;
    opacity: 1;
    color: white;
    line-height: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
      }
    }
}



 

    
