.contact-header {
    background-image: url(../assets/contact-header.jpg);
    position: relative;
    height: 60vh;
    h2 {
        margin-left: 6.6em;
        margin-top: em;
    }
}
.contact-us{
    display: flex;
    flex-direction: row;
    .info {
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         padding-bottom: 10em;
    }
    h4 {
        color: white;
        margin: 1em 0;
    }
    p {
        margin: 0 ;
    }
    i {
        font-size: 1.4em;
        margin-right: .5em;
    }
}
.contactForm { 
    height: 100%;
    width: 100%;
    position: relative;
    background-color: $green;
    
    .positioning{
    top: -250px;
    right: -240px;
    }
    button {
     width: 90%;
    }
    .email-name {
     display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1em;
    justify-content: space-between;
    margin: 0 auto;
        }
   
  #name, #email {
      width: 100%;
     border: none;
       line-height: 3em;
       border-bottom: 3px solid $blue;
        margin: 3em auto;
    }
    .submit {
        background-color: $darkblue;
        color: white;

        margin: inherit auto;
    }
 input,
textarea {
  border: none;
  margin-bottom: 40px;
  background-color: $green;
  color: white;
  font-family: lato;
  border: 3px solid $blue;
  &::placeholder {
    font-size: 0.8rem;
    opacity: 1;
    color: white;
    line-height: 1.2rem;
    text-transform: uppercase;
      }
    }
}



 

    
