header {
    background-image: url(../assets/header-image.jpg);
    position: relative;
    .header-img {
         position: absolute;
        top: 14em;
        right: 0;
        width: 55%;
    }

    h1 {
    width: 42%;
    margin-bottom: 0 ;
    font-size: 138px;
    }
}

ul {
    display: flex;
    margin: 0;
    li {
         list-style: none;
         padding-top: 3em;
    }
    a {
        color: white;
          text-decoration: none;
          margin-left: 2rem;  
        }
    justify-content: flex-end;
}