
.learn-more {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70%;
    margin: 0 auto;
}
main {
     background-color: $darkblue;
}
.blog-section  {
    background-color: $green;
}
.more-blog {
    display: flex;
    gap: 6em;
    color: white;
    position: relative;
    .more-blog-img {
    width: 50%;
    position: relative;
    .left-img {

    }
    }  
    h4 {
        margin: 2em 0 1em;
    }
    .more-blog-text {
    justify-content: center;
    align-items: center;
    width: 50%;
    }
    .bottom {
        text-align: right;
    }
}
.links-section {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4em;
    .links {
        width: 50%;
        margin: 4em 0 0;
        justify-content: space-between;
       p {
           width: 90%;
       }
    }
    a {
        color: white;
    }
}
.fa-location-arrow {
    display: inline-block;
}
.links-header {
    display: flex;
    margin-right: 1em;
}
.icon-circle {
    background-color: $blue; 
    height: 52px;
    width: 52px;
    border-radius: 50%;
}
i{
    align-items: center;
    justify-content: center;
}
.fa-sticky-note {
font-size: 0.7;
margin-left: .2em;
}
.gallery {
    background-color: $green;
    padding: 2em 0 4em;
    .img-gallery {
        display: flex;
        img {
            width: 90%;
        }
    }
}
