@media (max-width: 1400px) {
  .blog-head {
    h2 {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding-top: 1.5em;
    }
  }

  .two-col {
    .blog-right-shadow {
      display: none;
    }
  }
}

@media (max-width: 1342px) {
  .contactForm {
    bottom: 11em;
    right: -8em;
    margin: 0 2em;
  }
}

@media (max-width: 1330px) {
  .more-blog {
    .small-fish {
      width: 100%;
    }
    .this-months-text {
      width: 200%;
    }
    .this-month {
      display: flex;
      align-items: center;
    }
    .img-right-position {
      width: 50%;
      position: relative;
      bottom: -5em;
    }
  }
  .links {
    padding-top: 2em;
  }
}

@media (max-width: 1240px) {
  .blog-head {
    h2 {
      margin-left: 0;
    }
  }
}

@media (max-width: 1225px) {
  .blog-section {
    .left-shadow {
      box-shadow: -25px 25px $blue;
    }
  }
  .blog-head {
    h2 {
      font-size: 80px;
      margin: 0 auto;
    }
  }
}


@media (max-width: 1225px) {
  .contact-header {
    height: 40vh;
  }

  .left-shadow {
    box-shadow: -25px 25px $blue;
  }

  .contact-head {
    h2 {
      width: 100%;
      padding-left: 0em;
      font-size: 60px;
    }
  }

  .contactForm {
    position: static;
    margin: 1em auto 0;
    background-color: $green;

    .submit {
      margin-bottom: 1em;
    }
  }

  .contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0;
    margin-left: 3em;

    .info {
      margin-top: 4em;
      padding-bottom: 0;
    }
  }

  .contact-us {
    display: flex;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
}



@media (max-width: 1160px) {
  .blog-section,
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    gap: 0;
    width: 100%;
  }
  .bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .more-blog-text {
    padding-bottom: 0;
    width: 200%;
    p {
      width: 100%;
    }
  }
  .more-blog {
    .bottom,
    .top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .img-left-position,
    .img-right-position {
      width: 60%;
      display: block;
      top: 1em;
    }
    .right-shadow {
      box-shadow: 25px 25px $blue;
    }
  }
}

// smaller Desktop //
@media (max-width: 1030px) {
  header {
    background-image: url(../assets/header-image.jpg);
    position: relative;
    background-repeat: no-repeat;
    .header-img {
      top: 20em;
      right: 0;
      width: 60%;
    }
    h1 {
      width: 120%;
      margin-top: 0.5em;
      padding-bottom: 3em;
      font-size: 128px;
    }
  }
  .more-blog {
    .small-fish {
      width: 110%;
    }
    .this-months-text {
      width: 110%;
    }
  }
  .learn-more {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    width: 70%;
    padding: 6em 0 0;
    margin: 0 auto;
    p {
      margin: 0;
      padding-top: 0;
    }
    h3 {
      margin: 0 auto;
      padding-top: 1em;
      padding-bottom: 0;
    }
  }
}
@media (max-width: 1000px) {
  header {
    .header-img {
      top: 17em;
      right: 0;
      width: 55%;
    }
    h1 {
      width: 120%;
      font-size: 100px;
    }
  }
}

@media (max-width: 900px) {
  .blog-header {
    height: 40vh;
  }

  .two-col {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2em;
    width: 100%;

    .col-left {
      width: 100%;

      .blog-text {
        padding: 3em 0 0 1em;
        background-color: $green;
        width: 90%;
        margin: 0 auto;

        p {
          margin: 0.5em 0;
        }

        h4 {
          padding: 0;
        }
      }
    }

    .col-right {
      width: 90%;
      margin: 0 auto;

      .blog-img-right {
        position: static;
      }

      .blog-left-shadow {
        box-shadow: 0px 0px $blue;
      }

      .post-right-shadow {
        margin-top: 10em;

        p:nth-last-of-type(1) {
          padding-bottom: 3em;
          line-height: 1.5em;
        }
      }

      .leave-comment {
        width: 100%;
      }

      .blog-form {
        position: static;
      }
    }
  }

  .more-blog {
    .this-months-text {
      width: 170%;
    }
  }
}

@media (max-width: 800px) {
  header {
    background-size: cover;
    .header-img {
      top: 17em;
      right: 0;
      width: 55%;
    }
    h1 {
      width: 100%;
      margin: 1em auto 0;
      padding-bottom: 3em;
      font-size: 80px;
    }
  }
  .links-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .links {
      margin: 0 auto;
      width: 100%;
    }
  }
  .this-month {
    display: flex;
    flex-direction: column;
  }
  .more-blog {
    .this-months-text {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    .img-left {
      width: 50%;
      display: block;
      margin: -1em auto;
    }
  }
}
@media (max-width: 650px) {
  header {
    .header-img {
      visibility: hidden;
    }
    h1 {
      padding-top: 2em;
      font-size: 50px;
      margin: 0 auto;
      text-align: center;
    }
    .menu-btn {
      display: block;
    }
    nav .nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $blue;
      width: 40%;
      height: 100%;
      opacity: 0.9;
      padding: 0;
      transform: translateX(-500px);
      transition: transform 0.8s ease-in-out;
    }

    nav ul li {
      padding: 1.3em;
    }
    nav .nav-menu.show {
      transform: translateX(-20px);
    }
  }
  .learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    color: white;
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
    button {
      margin: 1em auto;
    }
    h3 {
      margin: 1em auto;
      padding-top: 0;
    }
    p {
      margin: 0;
    }
  }
  .more-blog {
    .more-blog-text {
      padding-bottom: 0;
      width: 100%;
    }
    p {
      width: 100%;
      margin: 0 auto;
    }
  }
  .img-gallery {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .more-blog {
    .this-months-text {
      width: 100%;
      margin-top: -3em;
      button {
        margin-top: 1em;
      }
    }
  }
  .links-header {
    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  .links {
    p {
      padding-top: 0;
      font-size: 15px;
      line-height: 20px;
    }
  }
  .icon-circle {
    height: 43px;
    width: 43px;
  }
  i {
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0.3em 0 0 0.3em;
    font-size: 25px;
  }
  .blog-head {
    h2 {
      padding-top: 1.5em;
      margin-top: 0;
    }
  }
}

@media (max-width: 550px) {
  .contact-header {
    height: 30vh;
  }

  .contact-head {
    h2 {
      width: 100%;
      padding-left: 0em;
      font-size: 50px;
    }
  }

  .left-shadow {
    box-shadow: 0px 0px $blue;
  }
}

@media (max-width: 400px) {
  .contact-head {
    h2 {
      width: 100%;
      padding-left: 0em;
      font-size: 35px;
    }
  }

  .contact-form {
    .email-name {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .form-name,
    .form-email {
      margin: 1em 0;
    }
  }

  .blog-post {
    margin-top: -17em;

    p {
      margin-left: 1.4em;
      font-size: 15px;
      line-height: 1.5em;
    }

    p:nth-last-of-type(1) {
      padding-bottom: 3em;
      line-height: 1.5em;
    }
  }

  .comments-section {
    p {
      margin-left: 1em;
      font-size: 15px;
      line-height: 1.5em;
    }

    img {
      margin-top: 2em;
    }
  }

}

@media (max-width: 320px) {
  .more-blog {
    .img-left-position,
    .img-right-position {
      position: static;
      margin: 0.5em auto 0;
    }
  }
  .links-section {
    .links {
      width: 100%;
      p {
        width: 80%;
        margin-left: 4em;
      }
    }
  }
  .img-left {
    display: none !important;
  }
  .this-months-text {
    h3 {
      padding-top: 1em;
    }
  }
}

