body {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #0c1423;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

button {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 32px;
  background-color: #86E0F9;
  border: none;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.copyright {
  background-color: #86E0F9;
  padding: 0;
  margin: 0;
  text-align: center;
}

.copyright p {
  margin: 0;
}

h1 {
  font-family: 'Barlow', sans-serif;
  color: white;
  font-size: 138px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  margin: 0;
  color: white;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 1px;
  margin: 2em 0 0;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  margin: 0;
}

header {
  background-image: url(../assets/header-image.jpg);
  position: relative;
}

header img {
  position: absolute;
  top: 14em;
  right: 0;
  width: 60%;
  height: 90%;
}

header h1 {
  width: 42%;
  margin-bottom: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul li {
  list-style: none;
  padding-top: 3em;
}

ul a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

.learn-more {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 70%;
  margin: 0 auto;
}

main {
  background-color: #0c1423;
}

.blog-section {
  background-color: #0f614E;
}

.more-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6em;
  color: white;
  position: relative;
}

.more-blog .more-blog-img {
  width: 50%;
  position: relative;
}

.more-blog h4 {
  margin: 2em 0 1em;
}

.more-blog .more-blog-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.more-blog .bottom {
  text-align: right;
}

.links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4em;
}

.links-section .links {
  width: 50%;
  margin: 4em 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.links-section .links p {
  width: 90%;
}

.links-section a {
  color: white;
}

.fa-location-arrow {
  display: inline-block;
}

.links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
}

.icon-circle {
  background-color: #86E0F9;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-sticky-note {
  font-size: 0.7;
  margin-left: .2em;
}

.gallery {
  background-color: #0f614E;
  padding: 2em 0 4em;
}

.gallery .img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .img-gallery img {
  width: 90%;
}

.contact-header {
  background-image: url(../../../assets/contact-header.jpg);
  position: relative;
  height: 50vh;
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5em;
}

.get-in-touch .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.get-in-touch h4 {
  color: white;
  margin: 1em 0;
}

.get-in-touch p {
  margin: 0;
}

.get-in-touch i {
  font-size: 1.4em;
  margin: 1em .5em 1em 0;
}

.get-in-touch .contact-form {
  width: 100%;
}

.get-in-touch .contact-us {
  max-width: 1500px;
  background-color: #0f614E;
}

.get-in-touch .contact-us .email-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  border: none;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-in-touch .contact-us #name, .get-in-touch .contact-us #email {
  width: 100%;
  line-height: 3em;
  border-bottom: 3px solid #86E0F9;
  margin: 3em auto;
}

.get-in-touch .contact-us input,
.get-in-touch .contact-us textarea {
  padding: 0 0 10px 5px;
  border: none;
  background-color: #0f614E;
  border: none;
  color: white;
}

.get-in-touch .contact-us textarea {
  padding: 3em;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  color: white;
  border: 2px solid #86E0F9;
}

.get-in-touch .contact-us button {
  width: 90%;
}
