body {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #0c1423;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.copyright {
  background-color: #86e0f9;
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

.copyright p {
  margin: 0;
  color: black;
}

button {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.2em 0.5em;
  line-height: 32px;
  background-color: #86e0f9;
  border: none;
  margin-bottom: 2em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  background-color: #0c1423;
  color: white;
}

button:focus {
  background-color: #0c1423;
  color: white;
}

h1 {
  font-family: 'Barlow', sans-serif;
  color: white;
  font-size: 138px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 92px;
  width: 100%;
  margin: 0;
  color: white;
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: 1px;
  margin: 1em 0;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  margin: 0;
}

header {
  background-image: url(../assets/header-image.jpg);
  position: relative;
}

header .header-img {
  position: absolute;
  top: 14em;
  right: 0;
  width: 55%;
}

header .header-img button {
  color: #0c1423;
}

header h1 {
  width: 42%;
  margin-bottom: 0;
  font-size: 138px;
}

header .menu-btn {
  cursor: pointer;
  position: absolute;
  right: 3em;
  top: 2em;
  color: white;
  display: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul li {
  list-style: none;
  padding-top: 3em;
}

ul a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

ul a:hover {
  color: #86e0f9;
}

.learn-more {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 70%;
  padding: 10% 0;
  margin: 0 auto;
}

main {
  background-color: #0c1423;
}

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0f614e;
}

.more-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6em;
  color: white;
  padding-bottom: 1em;
}

.more-blog .img-left {
  width: 90%;
  position: relative;
  top: 1.6em;
}

.more-blog .img-left-position {
  width: 50%;
  position: relative;
  top: -1.6em;
}

.more-blog .img-right-position {
  position: relative;
  bottom: -1.6em;
  right: 0;
}

.more-blog h4 {
  margin: 2em 0 1em;
}

.more-blog .more-blog-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  width: 50%;
}

.more-blog .more-blog-text p {
  width: 90%;
  padding-bottom: 1.5em;
}

.more-blog .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.more-blog .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.more-blog .small-fish {
  height: 80%;
}

.more-blog .this-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 4em;
}

.links-section .links {
  width: 40%;
  margin: 5em 0 0;
}

.links-section .links h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.links-section .links p {
  width: 90%;
  margin-left: 3em;
}

.links-section a {
  color: white;
}

.links-section .links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
}

.icon-circle {
  background-color: #86e0f9;
  height: 55px;
  width: 55px;
  margin-right: 1em;
  border-radius: 50%;
}

i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0c1423;
  margin: 0.3em 0 0 0.2em;
  font-size: 37px;
}

.fa-sticky-note {
  margin-left: 0.3em;
}

.fa-users {
  margin-left: 0.1em;
}

.fa-phone {
  margin-left: 0.2em;
}

.gallery {
  background-color: #0f614e;
  padding: 2em 0 2em;
}

.gallery .carousel-tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: -2em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1em;
}

.gallery .carousel-tracker i {
  padding: 0 1vw;
  font-size: 1.5em;
}

.gallery .carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .img-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 0;
}

.gallery .car-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2em;
  width: 60vw;
  height: 40vw;
  max-width: 500px;
  max-height: 300px;
  position: absolute;
  opacity: 0;
  padding-top: 0;
}

.gallery .car-slide.active {
  position: relative;
  opacity: 1;
}

.gallery .car-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .arrow {
  display: inline-block;
  background-color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.gallery .left-arrow {
  left: 0;
}

.gallery .right-arrow {
  right: 0;
}

.right-shadow {
  -webkit-box-shadow: 25px 25px #86e0f9;
          box-shadow: 25px 25px #86e0f9;
}

.left-shadow {
  -webkit-box-shadow: -25px 25px #86e0f9;
          box-shadow: -25px 25px #86e0f9;
}

.contact-header {
  background-image: url(../assets/contact-header.jpg);
  position: relative;
  height: 60vh;
}

body {
  position: relative;
}

.contact-head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 87%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.5em;
  padding-left: 3em;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-us .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 10em;
}

.contact-us h4 {
  color: white;
  margin: 1em 0;
}

.contact-us p {
  margin: 0;
}

.contact-us i {
  font-size: 1.4em;
  margin-right: 0.5em;
  cursor: pointer;
}

.contact-us i:hover {
  color: #86e0f9;
}

.contact-us i:focus {
  color: #86e0f9;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #0f614e;
  bottom: 5em;
  right: 0;
  margin: 0 2em;
}

.contactForm .email-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.contactForm #name,
.contactForm #email {
  border: none;
  width: 100%;
}

.contactForm .form-name,
.contactForm .form-email {
  width: 100%;
  border: none;
  line-height: 3em;
  border-bottom: 3px solid #86e0f9;
  margin: 3em auto;
}

.contactForm .submit {
  width: 90%;
  background-color: #0c1423;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactForm .submit:hover {
  background-color: #86e0f9;
}

.contactForm .submit:focus {
  background-color: #86e0f9;
}

.contactForm input,
.contactForm textarea {
  border: none;
  margin-bottom: 1em;
  background-color: #0f614e;
  color: white;
  width: 90%;
  font-family: lato;
  border: 1px solid #86e0f9;
}

.contactForm input::-webkit-input-placeholder,
.contactForm textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  opacity: 1;
  color: white;
  line-height: 1.2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.contactForm input:-ms-input-placeholder,
.contactForm textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  opacity: 1;
  color: white;
  line-height: 1.2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.contactForm input::-ms-input-placeholder,
.contactForm textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  opacity: 1;
  color: white;
  line-height: 1.2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder {
  font-size: 0.8rem;
  opacity: 1;
  color: white;
  line-height: 1.2rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.blog-header {
  background-image: url(../assets/blog-header.jpg);
  position: relative;
  height: 550px;
}

.blog-head h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.5em;
}

.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two-col .blog-left-img {
  margin-top: 3em;
  position: relative;
  left: -7.5em;
  top: 0.3em;
}

.two-col .blog-right-shadow {
  -webkit-box-shadow: 26px 0px #0f614e;
          box-shadow: 26px 0px #0f614e;
}

.two-col .col-left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.two-col .col-left .blog-text {
  padding: 3em 0 0 1em;
  background-color: #0f614e;
  width: 75%;
}

.two-col .col-left .blog-text p {
  margin: 0.5em 0;
}

.two-col .col-left h4 {
  color: white;
  background-color: #0f614e;
  padding: 0.3em;
}

.two-col .col-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two-col .col-left li {
  color: white;
  font-family: lato;
  padding: 0;
  list-style: disc;
}

.two-col .col-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.two-col .col-right .blog-img-right {
  position: relative;
  right: -1.4em;
  top: -16em;
}

.two-col .col-right .blog-left-shadow {
  -webkit-box-shadow: -27px 27px #86e0f9;
          box-shadow: -27px 27px #86e0f9;
  width: 113%;
}

.two-col .col-right h3 {
  color: white;
}

.two-col .col-right .blog-post {
  margin-top: -17em;
}

.two-col .col-right .blog-post p {
  margin-left: 1.4em;
}

.two-col .col-right .blog-post p:nth-last-of-type(1) {
  padding-bottom: 3em;
  line-height: 1.5em;
}

.two-col .col-right .post-right-shadow {
  -webkit-box-shadow: -5px 5px #86e0f9;
          box-shadow: -5px 5px #86e0f9;
}

.two-col .col-right h4 {
  color: white;
  margin: 1em 0 0 0.6em;
  padding-top: 1em;
}

.two-col .col-right .comments,
.two-col .col-right .new-comments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.two-col .col-right img {
  width: 70%;
  margin-top: 2em;
}

.two-col .col-right .blog-form {
  position: relative;
  bottom: 1em;
  right: 2em;
  width: 100%;
  margin-top: 2em;
}

.two-col .col-right .email-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.two-col .col-right .blog-form,
.two-col .col-right #email,
.two-col .col-right #name,
.two-col .col-right #message {
  background-color: #0c1423;
  width: 100%;
}

.two-col .col-right .submit {
  background-color: #0f614e;
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.two-col .col-right .submit:hover {
  background-color: #86e0f9;
  color: white;
}

.two-col .col-right .email-name-blog {
  width: 100%;
  gap: 2em;
}

.leave-comment textarea {
  width: 100%;
}

@media (max-width: 1400px) {
  .blog-head h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1.5em;
  }
  .two-col .blog-right-shadow {
    display: none;
  }
}

@media (max-width: 1342px) {
  .contactForm {
    bottom: 11em;
    right: -8em;
    margin: 0 2em;
  }
}

@media (max-width: 1330px) {
  .more-blog .small-fish {
    width: 100%;
  }
  .more-blog .this-months-text {
    width: 200%;
  }
  .more-blog .this-month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .more-blog .img-right-position {
    width: 50%;
    position: relative;
    bottom: -5em;
  }
  .links {
    padding-top: 2em;
  }
}

@media (max-width: 1240px) {
  .blog-head h2 {
    margin-left: 0;
  }
}

@media (max-width: 1225px) {
  .blog-section .left-shadow {
    -webkit-box-shadow: -25px 25px #86e0f9;
            box-shadow: -25px 25px #86e0f9;
  }
  .blog-head h2 {
    font-size: 80px;
    margin: 0 auto;
  }
}

@media (max-width: 1225px) {
  .contact-header {
    height: 40vh;
  }
  .left-shadow {
    -webkit-box-shadow: -25px 25px #86e0f9;
            box-shadow: -25px 25px #86e0f9;
  }
  .contact-head h2 {
    width: 100%;
    padding-left: 0em;
    font-size: 60px;
  }
  .contactForm {
    position: static;
    margin: 1em auto 0;
    background-color: #0f614e;
  }
  .contactForm .submit {
    margin-bottom: 1em;
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 0;
    margin-left: 3em;
  }
  .contact-us .info {
    margin-top: 4em;
    padding-bottom: 0;
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1160px) {
  .blog-section,
  .top,
  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
    gap: 0;
    width: 100%;
  }
  .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .more-blog-text {
    padding-bottom: 0;
    width: 200%;
  }
  .more-blog-text p {
    width: 100%;
  }
  .more-blog .bottom,
  .more-blog .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .more-blog .img-left-position,
  .more-blog .img-right-position {
    width: 60%;
    display: block;
    top: 1em;
  }
  .more-blog .right-shadow {
    -webkit-box-shadow: 25px 25px #86e0f9;
            box-shadow: 25px 25px #86e0f9;
  }
}

@media (max-width: 1030px) {
  header {
    background-image: url(../assets/header-image.jpg);
    position: relative;
    background-repeat: no-repeat;
  }
  header .header-img {
    top: 20em;
    right: 0;
    width: 60%;
  }
  header h1 {
    width: 120%;
    margin-top: 0.5em;
    padding-bottom: 3em;
    font-size: 128px;
  }
  .more-blog .small-fish {
    width: 110%;
  }
  .more-blog .this-months-text {
    width: 110%;
  }
  .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;
    width: 70%;
    padding: 6em 0 0;
    margin: 0 auto;
  }
  .learn-more p {
    margin: 0;
    padding-top: 0;
  }
  .learn-more h3 {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  header .header-img {
    top: 17em;
    right: 0;
    width: 55%;
  }
  header h1 {
    width: 120%;
    font-size: 100px;
  }
}

@media (max-width: 900px) {
  .blog-header {
    height: 40vh;
  }
  .two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 2em;
    width: 100%;
  }
  .two-col .col-left {
    width: 100%;
  }
  .two-col .col-left .blog-text {
    padding: 3em 0 0 1em;
    background-color: #0f614e;
    width: 90%;
    margin: 0 auto;
  }
  .two-col .col-left .blog-text p {
    margin: 0.5em 0;
  }
  .two-col .col-left .blog-text h4 {
    padding: 0;
  }
  .two-col .col-right {
    width: 90%;
    margin: 0 auto;
  }
  .two-col .col-right .blog-img-right {
    position: static;
  }
  .two-col .col-right .blog-left-shadow {
    -webkit-box-shadow: 0px 0px #86e0f9;
            box-shadow: 0px 0px #86e0f9;
  }
  .two-col .col-right .post-right-shadow {
    margin-top: 10em;
  }
  .two-col .col-right .post-right-shadow p:nth-last-of-type(1) {
    padding-bottom: 3em;
    line-height: 1.5em;
  }
  .two-col .col-right .leave-comment {
    width: 100%;
  }
  .two-col .col-right .blog-form {
    position: static;
  }
  .more-blog .this-months-text {
    width: 170%;
  }
}

@media (max-width: 800px) {
  header {
    background-size: cover;
  }
  header .header-img {
    top: 17em;
    right: 0;
    width: 55%;
  }
  header h1 {
    width: 100%;
    margin: 1em auto 0;
    padding-bottom: 3em;
    font-size: 80px;
  }
  .links-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .links-section .links {
    margin: 0 auto;
    width: 100%;
  }
  .this-month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-blog .this-months-text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .more-blog .img-left {
    width: 50%;
    display: block;
    margin: -1em auto;
  }
}

@media (max-width: 650px) {
  header .header-img {
    visibility: hidden;
  }
  header h1 {
    padding-top: 2em;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
  }
  header .menu-btn {
    display: block;
  }
  header nav .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #86e0f9;
    width: 40%;
    height: 100%;
    opacity: 0.9;
    padding: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  header nav ul li {
    padding: 1.3em;
  }
  header nav .nav-menu.show {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: white;
    width: 100%;
    padding: 1em 0;
    margin: 0 auto;
  }
  .learn-more button {
    margin: 1em auto;
  }
  .learn-more h3 {
    margin: 1em auto;
    padding-top: 0;
  }
  .learn-more p {
    margin: 0;
  }
  .more-blog .more-blog-text {
    padding-bottom: 0;
    width: 100%;
  }
  .more-blog p {
    width: 100%;
    margin: 0 auto;
  }
  .img-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .more-blog .this-months-text {
    width: 100%;
    margin-top: -3em;
  }
  .more-blog .this-months-text button {
    margin-top: 1em;
  }
  .links-header h3 {
    font-size: 30px;
    margin-bottom: 0;
  }
  .links p {
    padding-top: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .icon-circle {
    height: 43px;
    width: 43px;
  }
  i {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin: 0.3em 0 0 0.3em;
    font-size: 25px;
  }
  .blog-head h2 {
    padding-top: 1.5em;
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .contact-header {
    height: 30vh;
  }
  .contact-head h2 {
    width: 100%;
    padding-left: 0em;
    font-size: 50px;
  }
  .left-shadow {
    -webkit-box-shadow: 0px 0px #86e0f9;
            box-shadow: 0px 0px #86e0f9;
  }
}

@media (max-width: 400px) {
  .contact-head h2 {
    width: 100%;
    padding-left: 0em;
    font-size: 35px;
  }
  .contact-form .email-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .contact-form .form-name,
  .contact-form .form-email {
    margin: 1em 0;
  }
  .blog-post {
    margin-top: -17em;
  }
  .blog-post p {
    margin-left: 1.4em;
    font-size: 15px;
    line-height: 1.5em;
  }
  .blog-post p:nth-last-of-type(1) {
    padding-bottom: 3em;
    line-height: 1.5em;
  }
  .comments-section p {
    margin-left: 1em;
    font-size: 15px;
    line-height: 1.5em;
  }
  .comments-section img {
    margin-top: 2em;
  }
}

@media (max-width: 320px) {
  .more-blog .img-left-position,
  .more-blog .img-right-position {
    position: static;
    margin: 0.5em auto 0;
  }
  .links-section .links {
    width: 100%;
  }
  .links-section .links p {
    width: 80%;
    margin-left: 4em;
  }
  .img-left {
    display: none !important;
  }
  .this-months-text h3 {
    padding-top: 1em;
  }
}
